! Unity のグラフィック機能のハードウェア要件

!! 要約

||                       ||PC/Mac             ||iOS/Android             ||Flash   ||360/PS3      ||
||遅延ライティング           ||SM3.0, GPU サポート ||-                       ||-       ||はい          ||
||フォワード レンダリング     ||SM2.0              ||OpenGL ES 2.0           ||はい     ||はい          ||
||頂点リット レンダリング     ||はい                ||はい                     ||はい     ||-            ||
||リアルタイム ライティング   ||SM2.0, GPU サポート  ||-                       ||一部     ||はい          ||
||画像効果                 ||最も必要 SM2.0       ||最も必要 OpenGL ES 2.0   ||一部     ||はい          ||
||頂点シェーダ              ||SM1.1              ||OpenGL ES 2.0           ||はい     ||はい         ||
||ピクセル シェーダ          ||SM2.0              ||OpenGL ES 2.0           ||はい     ||はい          ||
||固定機能シェーダ           ||はい                ||はい                     ||はい     ||-            ||


!! リアルタイム シェーダ

リアルタイム シャドーは現在、デスクトップとコンソール プラットフォームで機能します。 デスクトップでは、一般に シェーダ モデル 2.0 capable GPU が必要です。 Windows (Direct3D) 上でも、GPU は、影マッピング機能をサポートする必要があり、大半の ディスクリート GPU は、2003 年以降、大半の統合 GPU は、2007 年以降サポートしています。技術的には、Direct3D 9 では、GPU は [[http://aras-p.info/texts/D3D9GPUHacks.html | D16/D24X8 or DF16/DF24]] テクスチャ形式をサポートする必要があり、OpenGLでは、GL_ARB_depth_texture 拡張子をサポートする必要があります。

Flashでもリアルタイムシャドウはサポートされますが、深度バイアス（セルフシャドウが可能になる）の欠如とシェーダー制限（エッジが多少ガタガタになる等）があります。

モバイルシャドウ(iOS/Android)はOpenGL ES 2.0と GL_OES_depth_texture 拡張が必要です。特にこの拡張はTegraのAndroidでバイスでは__利用出来ない__ことに注意して下さい。ですので、影も表示出来ません。

!! 画像効果

[[comp-ImageEffects | Image Effects]] は、render-to-texture 機能を必要としてます。これは、一般にこのミレニアムで作成されたものならどれにおいてもサポートされています。 しかし、最も簡単な効果を除きすべてが、プログラム可能なピクセル シェーダを必要としているため、すべての実践的な目的のために、デスクトップでは、シェーダ モデル 2.0 (2003 年以降のディスクリート GPU　、2005 年以降の統合 GPU)、携帯プラットフォームでは、OpenGL ES 2.0 を必要としています。

Some image effects work on Flash, but quite a lot of them do not; either due to no support for non-power-of-two textures, shader limitations or lacking features like depth texture support.

!! シェーダ

Unity では、固定機能またはプログラム可能なシェーダを記述できます。 固定機能は、コンソール (Xbox 360 と Playstation 3) 以外のどこででもサポートされています。 プログラム可能なシェーダは、デフォルトの Model 2.0 (デスクトップ) および OpenGL ES 2.0 (携帯) になります。 デスクトップ プラットフォームでは、頂点シェーダに対して、シェーダ モデル 1.1 を対象とできます。
